.exercise {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid orangered;
    border-radius: 10px;
}

.exercise:hover,
.blog:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: .3s;
}

.exercise img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.exercise h3 {
    margin: 0 10px;
    color: orangered;
}

.exercise p {
    margin: 10px 10px 0;
}

.exercise button,
.complete {
    font-weight: bold;
    padding: 8px 15px;
    background-color: white;
    border: 2px solid orangered;
    color: orangered;
    border-radius: 5px;
    transition: .3s;
}

.exercise button:hover,
.complete:hover {
    background-color: orangered;
    border: 2px solid orangered;
    color: white;
    cursor: pointer;
}

.exercise button:active {
    background-color: white;
    border: 2px solid orangered;
    color: orangered;
}

.exercise-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px auto;
}

.exercise-btn p {
    margin: 0;
}