* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  margin: 40px auto;
  color: #183153;
}

.bold {
  font-weight: bold;
}

p {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .App {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0 10px;
  }
}